@page "/"
@inject HttpClient Http
@inject IJSRuntime JS
<PageTitle>Index</PageTitle>

<h1 style="text-align:center;
        color: blue;
        font-family:'Time New Roman';
        font-weight: bold;
        font-size:40px;">
    Ho Chi Minh University of Technology
</h1>
<h1 style="text-align:center;
        color: blue;
        font-family:'Time New Roman';
        font-weight: bold;
        font-size:40px;">
    Automation and Control Department
</h1>
<h1 style="text-align:center;
        color: blue;
        font-family:'Time New Roman';
        font-weight: bold;
        font-size:40px;">
    Welcome to Thesis Defense 2023
</h1>


<style>
    body {
        background-image: url('/img/homebackground.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
    Text{
        text-align:center;
        color: blue; 
        font-family:'Time New Roman';
        font-weight: bold;
        font-size:40px;
    }
    }
</style>
<img src="img/HCMCUT.png" style="height: 400px; width: 400px; display: block; margin-left: auto;margin-right: auto; ">
<h1 style="text-align:right;
        color: blue;
        font-family:'Time New Roman';
        font-weight: bold;
        font-size:40px;">
    Instructor: Phd. Nguyen Trong Tai
</h1>
<h1 style="text-align:right;
        color: blue;
        font-family:'Time New Roman';
        font-weight: bold;
        font-size:40px;">
   Student: Nguyen Xuan Hung - 1851007
</h1>
<h1 style="text-align:right;
        color: blue;
        font-family:'Time New Roman';
        font-weight: bold;
        font-size:40px;">
            Dao Hoang Duc    - 1851059
</h1>
